@model WebApplication1.Models.ForumAlbumVM

@{
	ViewBag.Title = "相片輪播";
	int count = (Model.FileList != null) ? Model.FileList.Count : 0;
}

@*載入驗證所需的Javascript*@
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/js/Album/AlbumCarousel.js")
}

<div id="AlbumListBlock">
	@Html.Hidden("count", count)
	<div class="myCarousel">
		<div class="carousel_container">
			@if (!Model.FileList.Count.Equals(0))
			{
				foreach (var item in Model.FileList)
				{
					<div class="carousel_content">
						<img src="@Url.Content("~/Upload/" + item.FileName)"/>
					</div>
				}
			}
		</div>
		<ul class="carousel_control">
			@if (!Model.FileList.Count.Equals(0))
			{
				foreach (var item in Model.FileList)
				{
					<li></li>
				}
			}
		</ul>
		<div class="carousel_previous"></div>
		<div class="carousel_next"></div>
	</div>
</div>
