@model WebApplication1.Models.GuestbookVM

@{
    ViewBag.Title = "Index";
}
<div id="CreateDate">
	@Html.Action("Create", "Guestbook", FormMethod.Get)
</div>

@Html.Action("GetDataList")

@*載入驗證所需的Javascript*@
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}